header{
    background-color: black;
}






*{
    font-family: 'Times New Roman', sans-serif;
    font-size: large;
    
}

html {
    background: #000000;
}

main {
    background: #000000;
}

h2 {
    color: #ff0404;
}

h6 {
    color: white;
}

h5 {
    color: white;
}

h4 {
    color: white;
}

a {
    font-size: large;
    margin-block: -5px;
}

p {
    color: rgb(255, 255, 255);
}

p.card-text {
    color: rgb(255, 250, 250);
    align-items: center;
    text-align: center;
    border-radius: 40px;
    
}


.header {
    background: #000000;
}

img.navbar-brand {
    width: 70px;
    height: 70px;
    margin-right: 25px;
}

.container {
    text-align: justify;
    border-radius: 20px;
}

.carousel-item {
    color: white;
    font-size: 14px;
}

.carousel-indicators {
    top: 90%;
}

.container-info {
    margin-right: 18%;
    margin-bottom: 10%;
}

@media screen and (max-width: 992px) {
    .carousel-item img {
        width: 80%;
        padding-left: 20%;
    }

    .container-info {
        margin-top: 10%;
        padding-left: 10%;
        margin-right: 18%;
        margin-bottom: 10%;
    }
}

.card-img-top {
    width: 100%;
    height: 100%;
}
.card-body{
    background-color: black;
}
.card{
    height: 100%;
    width: 100%;
}


.profile-header-container {
    margin: 0 auto;
    text-align: left;
    margin-top: 0;
}

.profile-header-img {
    padding: 54px;
}

img.img-circle {
    width: 100%;
    height: 100%;
}

.fa {
    color: rgb(255, 255, 255);
    width: 50px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px;
}

.fa:hover {
    opacity: 0.8;
}

.footertext {
    margin-top: 15px;
    align-self: center;
    color: #f5f5f5;
}
footer{
    background-color: black;
}
